@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  font-family: 'Lato', Arial, sans-serif;
}

section {
  text-align: center;
}

table.routes-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
}

.routes-table th,
.routes-table td {
  text-align: left;
}

.routes-table td {
  padding: .25rem;
  border: none;
}

.routes-table tr:nth-of-type(2n) td {
  background-color: #eee;
}

.pagination a {
  margin: 0 .5em;
}

svg circle:hover {
  cursor: pointer;
}

svg path {
  stroke: #FFF;
  stroke-width: 0.3;
}

svg circle.destination {
  stroke: #FFF;
  stroke-width: 0.4;
  fill: #CB4335;
  r: 2;
}

svg circle.source {
  stroke: #222;
  stroke-width: 0.4;  
  fill: #00BFA5;
  r: 2;
}

svg circle.destination:hover {
  stroke: #FFF;
  stroke-width: 1;
  fill: #CB4335;  
  r: 3;
}

svg circle.source:hover {
  stroke: #222;
  stroke-width: 1;  
  fill: #00BFA5;
  r: 3;
}

/*=======================
  Semantic UI overrides
=======================*/

.square {
  border-radius: 0 !important;
}

.medium-text {
  font-size: 1.2rem !important;
}

option:disabled {
  color: #BBB;
}

svg {
  margin-bottom: 1rem;
}

header.menu {
  margin-bottom: 0 !important;
}